body {
    background-color: #24353F;
    color: #17A2B8;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
h2 {
    text-align: center;
    margin-left: 40px;
    padding-top: 60px;
    color: #17A2B8;
}
.design {
    padding-top: 35px;
    margin-left: 40px;
}
#in {
    padding-top: 9%;
}
.container {
    margin-top: 180px;
    background-color: #1B282F;
    height: 150px;
    width: 35%;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    margin-left: 450px;
}
.btn {
 background-color: rgba(220, 20, 60, 0.466);
 color: black;
 margin-left: 950px;
}
.form-control {
    background-color:#1B282F;
    margin-top: 20px;
}